@import "reset";
@import "normalize";
// botstrap
@import "bootstrap-override";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
// @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix";
// project files
@import "vars";
@import "typography";
@import "color-matrix";
@import "mixins";
@import "global";

.container {
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
    margin: 0 auto;
  }

  @media (min-width: $screen-md-min) {
    width: $container-md;
    margin: 0 auto;
  }

  @media (min-width: $screen-lg-min) {
    width: $container-lg;
    margin: 0 auto;
  }
}
