* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Helvetica, sans-serif;
}

img {
  width: 100%;
}

.main {
  padding: 14px;
}

.main--pointer {
  cursor: pointer;
}

.main__left,
.main__right {
  float: left;
}

.main__right-left {
  width: 360px;
  float: left;
}

.main--song {
  height: 54px;
  float: left;
  color: #000;
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: -0.41px;
  line-height: 22px;
}

.main--artist {
  clear: left;
  height: 25px;
  color: #d0021b;
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: -0.41px;
  line-height: 22px;
  float: left;
}

.main--album {
  clear: left;
  height: 36px;
  color: #bebebe;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 19px;
  float: left;
}

.summertime {
  width: 345px;
  height: 190px;
  padding: 14px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 17px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
}

.summertime__img,
.iko-iko__img,
.chaos__img {
  width: 100px;
  height: 100px;
  float: right;
}

.summertime__pause-item {
  width: 45px;
  height: 45px;
}

.summertime__pause-item:hover {
  box-shadow: 0 2px 15px 0 #d0021b;
  border-radius: 50%;
}

.summertime__pause-picture {
  width: 6px;
  height: 23px;
}

.summertime__pause {
  position: relative;
  bottom: -1px;
  clear: both;
}

.summertime--track-red {
  background-color: #d0021b;
}

.summertime--track-gray {
  background-color: #9b9b9b;
}

.summertime__track-item {
  width: 6px;
  display: inline-block;
  border-radius: 5px;
  margin-left: -0.6px;
}

.summertime__track1 {
  height: 23px;
  margin-left: 12px;
}

.summertime__track2 {
  height: 29px;
}

.summertime__track3 {
  height: 44px;
}

.summertime__track4 {
  height: 36px;
}

.summertime__track5 {
  height: 27px;
}

.summertime__track6 {
  height: 22px;
}

.summertime__track7 {
  height: 29px;
}

.summertime__track8 {
  height: 22px;
}

.summertime__track9 {
  height: 33px;
}

.summertime__track10 {
  height: 22px;
}

.summertime__track11 {
  height: 12px;
}

.summertime__track12 {
  height: 27px;
}

.summertime__track13 {
  height: 33px;
}

.summertime__track14 {
  height: 24px;
}

.summertime__track15 {
  height: 34px;
}

.summertime__track16 {
  height: 37px;
}

.summertime__track17 {
  height: 44px;
}

.summertime__track18 {
  height: 39px;
}

.summertime__track19 {
  height: 15px;
}

.summertime__track20 {
  height: 24px;
}

.summertime__track21 {
  height: 12px;
}

.summertime__track22 {
  height: 15px;
}

.summertime__track23 {
  height: 33px;
}

.summertime__track24 {
  height: 44px;
}

.summertime__track25 {
  height: 34px;
}

.summertime__track26 {
  height: 19px;
}

.iko-iko,
.chaos {
  height: 130px;
  width: 345px;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
}

.frank-and-lana {
  box-sizing: border-box;
}

.blond,
.awaken {
  display: inline-block;
  width: 165px;
  height: 245px;
  padding: 14px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  margin-right: 14px;
}

.card-background {
  height: 75px;
  width: 345px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
}

.hex {
  float: right;
  height: 45px;
  width: 100px;
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  line-height: 45px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.color-name {
  height: 25px;
  width: 170px;
  color: #000;
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: -0.41px;
  line-height: 22px;
}

.saved-date {
  height: 20px;
  width: 170px;
  color: #bebebe;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 19px;
}

.button--cherry-red {
  background: linear-gradient(90deg, rgba(181, 181, 181, 0.5) 0%, rgba(84, 84, 84, 0.5) 100%);
  background-color: #d0021b;
}

.button--mint {
  background: linear-gradient(293.64deg, rgba(210, 210, 210, 0.5) 0%, rgba(19, 104, 218, 0.5) 100%);
  background-color: #37d699;
}

.button--yellow {
  background-color: #f9ab16;
}

.hex:hover {
  margin-right: -7px;
  margin-top: -5px;
  height: 51px;
  width: 114px;
  transition: 0.2s;
}

.card--small {
  height: 75px;
  width: 165px;
  float: left;
  margin-right: 15px;
}

.small-background__hex {
  height: 45px;
  width: 45px;
  border-radius: 4px;
  float: right;
  cursor: pointer;
  position: relative;
}

.small-background__hex-to-top {
  height: 23px;
  width: 9px;
  transform: rotate(180deg);
  position: relative;
  top: 12px;
  left: 18px;
}

.small-background__hex-to-bottom {
  height: 23px;
  width: 9px;
  position: relative;
  top: 12px;
  left: 18px;
}

.small-background__hex:hover {
  margin-right: -2px;
  margin-top: -2px;
  height: 50px;
  width: 50px;
  transition: 0.2s;
}

.sign {
  height: 25px;
  color: #000;
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: -0.41px;
  line-height: 22px;
}

.percent {
  height: 20px;
  width: 75px;
  color: #bebebe;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 19px;
}

.card-background__x-sign {
  width: 15px;
  height: 15px;
  transform: rotate(180deg);
  position: relative;
  top: 17px;
  left: 15px;
}

.cards-from-company {
  color: #000;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -0.41px;
  line-height: 20px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  top: 20px;
}

.main--clear {
  clear: both;
}

.setman,
.bongarang {
  float: left;
  height: 220px;
  width: 165px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  margin-right: 15px;
}

.bongarang__img,
.setman__img {
  margin-bottom: 7px;
}

.bongarang--following-check {
  width: 11px;
  height: 14px;
  position: relative;
  top: 3px;
  right: 1px;
  float: right;
}

.main--name {
  height: 25px;
  width: 135px;
  color: #000;
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: -0.41px;
  line-height: 22px;
}

.main__right-right {
  float: right;
  width: 360px;
}

.other-song {
  box-sizing: border-box;
  height: 160px;
  width: 345px;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  background-color: #fff;
}

.other-song--left-shadow {
  height: 20px;
  width: 113px;
  transform: scaleX(-1) rotate(9deg);
  border-radius: 1px;
  background-color: #fff;
  box-shadow: 0 2px 5px 3px rgba(131, 131, 131, 0.5);
  position: relative;
  z-index: -1;
  top: -15px;
}

.other-song--right-shadow {
  height: 20px;
  width: 113px;
  transform: rotate(9deg);
  border-radius: 1px;
  background-color: #fff;
  box-shadow: 0 2px 5px 3px rgba(131, 131, 131, 0.5);
  position: relative;
  z-index: -1;
  top: -35px;
  left: 200px;
}

.picture--grey {
  float: right;
  height: 130px;
  width: 130px;
  transform: rotate(2deg);
  border-radius: 4px;
  background-color: #e0e0e0;
}

.picture--yellow {
  float: right;
  height: 130px;
  width: 130px;
  border-radius: 4px;
  background-color: #f9ab16;
}

.picture--salmon {
  float: right;
  height: 130px;
  width: 130px;
  border-radius: 4px;
  background-color: #fadfc0;
  transform: rotate(-3deg);
}

.recording-title {
  height: 50px;
  width: 170px;
  color: #000;
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: -0.41px;
  line-height: 22px;
}

.recording-date {
  height: 20px;
  width: 170px;
  color: #bebebe;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 19px;
}

.recording-play {
  height: 60px;
  line-height: 60px;
  vertical-align: center;
  box-sizing: border-box;
  position: relative;
  top: 15px;
}

.recording-play__svg {
  width: 45px;
  height: 45px;
}

.recording-play__svg:hover {
  border-radius: 50%;
  box-shadow: 0 2px 15px 0 #9b9b9b;
}

.length {
  height: 20px;
  width: 110px;
  color: #bebebe;
  font-family: Helvetica, sans-serif;
  position: relative;
  top: -18px;
  left: 8px;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 19px;
}

.closed-album {
  display: inline-block;
  margin-right: 12px;
  height: 145px;
  width: 165px;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 15px;
}

.closed-album__text {
  position: absolute;
  top: 40%;
  height: 25px;
  width: 135px;
  color: #fff;
  font-size: 17px;
  letter-spacing: -0.41px;
  line-height: 22px;
  text-align: center;
}

.why-do-design {
  height: 55px;
  width: 705px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
  box-sizing: border-box;
}

.why-do-design__text {
  float: left;
  height: 25px;
  width: 450px;
  color: #9b9b9b;
  font-size: 17px;
  letter-spacing: -0.41px;
  line-height: 22px;
}

.why-do-design--dark {
  color: #1c1c1c;
}

.why-do-design__arrow-right {
  float: right;
  line-height: 22px;
  height: 22px;
  cursor: pointer;
  border: 0;
}

.why-do-design__arrow-right-item {
  width: 15px;
  height: 8px;
}
