@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Source Sans Pro", sans-serif;
  vertical-align: baseline;
  color: #5a5a5a;
}

.body--hidden {
  display: none;
}

.container {
  width: 1500px;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #5a5a5a;
}

img {
  width: 100%;
}

.close-menu {
  position: absolute;
  left: 1432px;
  top: 32px;
  z-index: 10;
  visibility: hidden;
  cursor: pointer;
}
.close-menu__hidden {
  display: none;
}
.close-menu__icon {
  width: 35px;
  height: 35px;
  margin: 0 auto;
}

.close-menu__hidden:checked ~ .header__warehouse {
  left: 1500px;
  transition: left 0.5s;
}

.header__hidden-check:checked ~ .close-menu {
  visibility: visible;
}

.pepper {
  position: relative;
  height: 665px;
  width: 1500px;
  background-color: #e9eae2;
  display: flex;
}
.pepper__tab {
  border-left: 137px solid transparent;
  border-right: 137px solid transparent;
  border-top: 237px solid #ffc2a6;
  position: absolute;
  left: 466px;
  transition: left 0.5s;
}
.pepper__tab-link {
  position: absolute;
  top: -180px;
  left: -11px;
}
.pepper__tab-link-pepper {
  height: 50px;
  width: 22px;
}
.pepper__price-block {
  position: relative;
  top: 209px;
  left: 227px;
  transition: left 0.5s;
}
.pepper__name-product {
  height: 41px;
  font-size: 28px;
  font-weight: 300;
}
.pepper__price {
  margin: 8px 0 0 0;
}
.pepper__images {
  position: relative;
  left: 265px;
  top: 195px;
  transition: left 0.5s;
}
.pepper__product {
  display: block;
  width: 430px;
  height: 434px;
  background: url("../img/http___pluspng.com_img-png_png-pepper-shaker-gc-pepper-mill-grand-cru-1200.png") no-repeat;
}
.pepper__person-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 159px;
  left: 332px;
  transition: left 0.5s;
  margin: 0 0 0 0;
}
.pepper__person-photo {
  display: flex;
  width: 68px;
  height: 68px;
  position: relative;
  left: -5px;
  background: url("../img/User-img-1.png");
}
.pepper__person-name {
  color: #578b84;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top: 9px;
  left: -7px;
  height: 60px;
}
.pepper__person-phrase {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  line-height: 53px;
}

.header__hidden-check:checked ~ .pepper__tab {
  left: 246px;
  transition: left 0.5s;
}

.header__hidden-check:checked ~ .pepper__price-block {
  left: 40px;
  transition: left 0.5s;
}

.header__hidden-check:checked ~ .pepper__images {
  left: 35px;
  transition: left 0.5s;
}

.header__hidden-check:checked ~ .pepper__person-block {
  left: 53px;
  transition: left 0.5s;
}

.header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 75px;
  height: 75px;
  position: absolute;
  transition: left 0.5s;
}
.header--plate {
  height: 50px;
  width: 50px;
  position: relative;
  left: 0;
}
.header--pepper {
  height: 117px;
  width: 51px;
  position: relative;
  left: 13px;
}
.header--bottles {
  height: 50px;
  width: 47px;
  position: relative;
  left: 0;
}
.header--butcher {
  height: 50px;
  width: 47px;
  position: relative;
  left: 0;
}
.header--cup {
  height: 50px;
  width: 43px;
  position: relative;
  left: 0;
}
.header--geinder {
  height: 50px;
  width: 42px;
  position: relative;
  left: 0;
}
.header--pot {
  height: 50px;
  width: 56px;
  position: relative;
  left: 0;
}
.header--home {
  top: 55px;
  left: 1405px;
}
.header--ruby {
  top: 130px;
  left: 1405px;
}
.header--search {
  top: 205px;
  left: 1405px;
}
.header__hidden-check {
  display: none;
}
.header__hidden-check:checked ~ .header__link {
  left: 1045px;
  transition: left 0.5s;
}
.header--home-tab:checked ~ .header--home {
  background: #7dd5c9;
}
.header--ruby-tab:checked ~ .header--ruby {
  background: #7dd5c9;
}
.header--search-tab:checked ~ .header--search {
  background: #7dd5c9;
}
.header--home-tab:checked ~ .header__warehouse {
  left: 1120px;
  transition: left 0.5s;
}
.header--ruby-tab:checked ~ .header__rooms {
  left: 1120px;
  transition: left 0.5s;
}
.header--search-tab:checked ~ .header__search {
  left: 1120px;
  transition: left 0.5s;
}
.header__warehouse {
  position: absolute;
  left: 1500px;
  transition: left 0.5s;
  height: 665px;
  width: 380px;
  background: url(../img/bg-menu.jpg);
  padding: 32px 0 0 50px;
  box-sizing: border-box;
}
.header__warehouse-text {
  height: 73px;
  width: 242px;
  color: #fff;
  line-height: 23px;
  text-align: center;
}
.header__warehouse-link {
  width: 118px;
  height: 133px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}
.header__warehouse-icon {
  height: 50px;
  width: 50px;
  margin: 0 0 10px 0;
}
.header__rooms {
  position: absolute;
  left: 1500px;
  transition: left 0.5s;
  height: 665px;
  width: 380px;
  background: url(../img/bg-menu.jpg);
  padding: 32px 0 0 50px;
  box-sizing: border-box;
}
.header__rooms-text {
  height: 73px;
  width: 242px;
  color: #fff;
  line-height: 23px;
  text-align: center;
}
.header__rooms-link {
  width: 118px;
  height: 133px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}
.header__rooms-icon {
  height: 50px;
  width: 50px;
  margin: 0 0 10px 0;
}
.header__search {
  position: absolute;
  left: 1500px;
  transition: left 0.5s;
  height: 665px;
  width: 380px;
  background: url(../img/bg-menu.jpg);
  padding: 32px 0 0 50px;
  box-sizing: border-box;
}
.header__search-text {
  height: 73px;
  width: 242px;
  color: #fff;
  line-height: 23px;
  text-align: center;
}
.header__search-field {
  display: inline-block;
  outline: none;
  color: #929292;
  padding: 0 0 0 10px;
  height: 44px;
  width: 283px;
  margin: 13px 0 0 0;
}
.header__search-field-item {
  width: 40px;
  height: 40px;
  background: #578b84;
  position: absolute;
  left: 290px;
  top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header__search-field-icon {
  height: 28px;
  width: 26px;
}
.header__icon {
  height: 29px;
  width: 33px;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.main .pot {
  height: 375px;
  display: inline-flex;
  width: 100%;
  background: #fcfcfc;
}
.main .pot__collection {
  width: 362px;
  background-color: #7dd5c9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .pot__collection::after {
  content: "";
  display: inline-flex;
  height: 375px;
  width: 20px;
  position: relative;
  left: 128px;
  background: linear-gradient(135deg, #7dd5c9 12px, transparent 0), linear-gradient(45deg, #7dd5c9 12px, transparent 0);
  background-repeat: repeat-y;
  background-size: 22px 11px;
}
.main .pot__collection-block {
  position: relative;
  left: 40px;
  width: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .pot__collection-link {
  margin: 0 0 12px 0;
}
.main .pot__collection-item {
  height: 117px;
  width: 88px;
}
.main .pot__collection-item:hover {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
.main .pot__collection-header {
  font-weight: 300;
  font-size: 24px;
  color: #578b84;
}
.main .pot__collection-text {
  font-weight: bold;
  color: #578b84;
}
.main .pot .kittle {
  height: 375px;
  background: #fcfcfc;
  box-sizing: border-box;
  display: inline-flex;
}
.main .pot .kittle__price-block {
  padding: 37px 0 0 39px;
  font-size: 28px;
}
.main .pot .kittle__name-product {
  display: flex;
  height: 40px;
  font-weight: 300;
}
.main .pot .kittle__price {
  font-weight: bold;
}
.main .pot .kittle__product-block {
  display: flex;
  align-items: flex-end;
  margin: 0 210px 0 50px;
}
.main .pot .kittle__product {
  height: 267px;
  width: 311px;
  background: url(../img/chajn73.png);
}
.main .pot .kittle__person-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 100px;
  left: 0;
  transition: 0;
  margin: 0 0 0 0;
}
.main .pot .kittle__person-photo {
  display: flex;
  width: 68px;
  height: 68px;
  position: relative;
  left: -5px;
  background: url("../img/User-img.png");
}
.main .pot .kittle__person-name {
  color: #578b84;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top: 9px;
  left: -7px;
  height: 52px;
}
.main .pot .kittle__person-phrase {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  line-height: 53px;
}
.main .rooms {
  height: 375px;
  background: url(../img/bg-kitchen.jpg);
  display: flex;
  align-items: center;
}
.main .rooms__diamond-block {
  height: 140px;
  width: 140px;
  background: #e1e1e1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 460px;
}
.main .rooms__diamond {
  width: 35px;
  height: 35px;
}
.main .shaker {
  height: 375px;
  box-sizing: border-box;
  background: #fcfcfc;
  display: inline-flex;
}
.main .shaker__price-block {
  padding: 37px 0 0 39px;
  font-size: 28px;
}
.main .shaker__name-product {
  display: flex;
  height: 40px;
  font-weight: 300;
}
.main .shaker__price {
  font-weight: bold;
}
.main .shaker__product-block {
  display: flex;
  align-items: flex-end;
  margin: 0 215px 0 140px;
}
.main .shaker__product {
  height: 270px;
  width: 230px;
  background: url(../img/1.png);
}
.main .shaker__person-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 95px;
  left: 0;
  transition: 0;
  margin: 0 55px 0 0;
}
.main .shaker__person-photo {
  display: flex;
  width: 68px;
  height: 68px;
  position: relative;
  left: -5px;
  background: url("../img/User-img-3.png");
}
.main .shaker__person-name {
  color: #578b84;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top: 9px;
  left: -7px;
  height: 52px;
}
.main .shaker__person-phrase {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  line-height: 53px;
}
.main .shaker__collection {
  width: 362px;
  background-color: #bfe79e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .shaker__collection::after {
  content: "";
  display: inline-flex;
  height: 375px;
  width: 20px;
  position: relative;
  left: -252px;
  background: linear-gradient(-135deg, #bfe79e 12px, transparent 0), linear-gradient(-45deg, #bfe79e 12px, transparent 0);
  background-repeat: repeat-y;
  background-size: 22px 11px;
}
.main .shaker__collection-block {
  position: relative;
  left: -20px;
  width: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .shaker__collection-link {
  margin: 0 0 12px 0;
}
.main .shaker__collection-item {
  height: 117px;
  width: 60px;
}
.main .shaker__collection-item:hover {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
.main .shaker__collection-header {
  font-weight: 300;
  font-size: 24px;
  color: #85ba59;
}
.main .shaker__collection-text {
  font-weight: bold;
  color: #85ba59;
}
.main .bowl {
  height: 375px;
  display: inline-flex;
  box-sizing: border-box;
  background: #fff;
}
.main .bowl__collection {
  width: 362px;
  background-color: #ffc2a6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .bowl__collection::after {
  content: "";
  display: inline-flex;
  height: 375px;
  width: 20px;
  position: relative;
  left: 128px;
  background: linear-gradient(135deg, #ffc2a6 12px, transparent 0), linear-gradient(45deg, #ffc2a6 12px, transparent 0);
  background-repeat: repeat-y;
  background-size: 22px 11px;
}
.main .bowl__collection-block {
  position: relative;
  left: 40px;
  width: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .bowl__collection-link {
  margin: 0 0 12px 0;
}
.main .bowl__collection-item {
  height: 117px;
  width: 117px;
}
.main .bowl__collection-item:hover {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
.main .bowl__collection-header {
  font-weight: 300;
  font-size: 24px;
  color: #ff915e;
}
.main .bowl__collection-text {
  font-weight: bold;
  color: #ff915e;
}
.main .bowl__price-block {
  padding: 37px 0 0 39px;
  font-size: 28px;
}
.main .bowl__name-product {
  display: flex;
  height: 40px;
  font-weight: 300;
}
.main .bowl__price {
  font-weight: bold;
}
.main .bowl__product-block {
  display: flex;
  align-items: flex-end;
  margin: 0 165px 0 85px;
}
.main .bowl__product {
  height: 217px;
  width: 340px;
  background: url(../img/miski063.png);
}
.main .bowl__person-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 98px;
  left: 70px;
  transition: 0;
  margin: 0 0 0 0;
}
.main .bowl__person-photo {
  display: flex;
  width: 68px;
  height: 68px;
  position: relative;
  left: -5px;
  background: url("../img/User-img-2.png");
}
.main .bowl__person-name {
  color: #578b84;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top: 9px;
  left: -7px;
  height: 52px;
}
.main .bowl__person-phrase {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  line-height: 53px;
}

.footer {
  height: 375px;
  background: url(../img/bg-footer.jpg);
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
}
.footer__list {
  margin: 0 0 20px 70px;
}
.footer__list-item {
  display: inline-flex;
  height: 90px;
  margin: 0 62px 0 0;
}
.footer--pepper {
  height: 71px;
  width: 31px;
  position: relative;
  left: 0;
}
.footer--teapot {
  height: 71px;
  width: 54px;
  position: relative;
  left: 0;
}
.footer--shaker {
  height: 71px;
  width: 36px;
  position: relative;
  left: 0;
}
.footer--plate {
  height: 71px;
  width: 71px;
  position: relative;
  left: -5px;
}
.footer__owner {
  width: 1275px;
  color: #c5c1c1;
  font-weight: 300;
  margin: 0 0 30px 40px;
}
.footer__warehouse {
  margin: 0 0 67px 0;
}
.footer__warehouse-main-square {
  height: 70px;
  width: 70px;
}
.footer__warehouse-transparent-square {
  width: 35px;
  height: 35px;
  background: transparent;
  float: left;
}
.footer__warehouse-orange-square {
  width: 35px;
  height: 35px;
  background: #ffc2a6;
  float: left;
}
.footer__warehouse-green-square {
  width: 35px;
  height: 35px;
  background: #bfe79e;
  float: left;
}
.footer__warehouse-mint-square {
  width: 35px;
  height: 35px;
  background: #7dd5c9;
  float: left;
}
.footer__warehouse-text {
  position: relative;
  left: -22px;
  top: 10px;
  color: #c5c1c1;
}

/*# sourceMappingURL=main.css.map */
