// color
$milk-bg: $white-FCFCFC;
$light-grey-bg: $grey-E9EAE2;
$pots-background: $mint-7DD5C9;
$pots-collection-text: $mint-578B84;
$main-text: $grey-5A5A5A;
$rooms-circle: $grey-e1e1e1;
$shakers-bg: $green-BFE79E;
$shakers-collection-text: $green-85BA59;
$bowl-background: $orange-FFC2A6;
$bowl-collection-text: $orange-FF915E;
$footer-text: $white-C5C1C1;
$white: $white;
$search-value: $grey-929292;
