//arrays
$header-tags: h1, h2, h3, h4, h5;
$font-sizes: 50px, 28px, 24px, 18px, 16px;
$hidden-blocks: warehouse, rooms;
$menu-blocks: warehouse, rooms, search;
$menu-tabs: home, ruby, search;

// color
$white-FCFCFC: #fcfcfc;
$grey-E9EAE2: #e9eae2;
$grey-5A5A5A: #5a5a5a;
$grey-e1e1e1: #e1e1e1;
$mint-7DD5C9: #7dd5c9;
$mint-578B84: #578b84;
$green-BFE79E: #bfe79e;
$green-85BA59: #85ba59;
$orange-FFC2A6: #ffc2a6;
$orange-FF915E: #ff915e;
$white-C5C1C1: #c5c1c1;
$white: #fff;
$grey-929292: #929292;
