@mixin submit-button() {
  &--submit {
    height: 43px;
    width: 100%;
    margin: 2px 0 0;
    border-radius: 3px;
    background-color: $button;
    box-shadow: 0 3px 4px 0 $button-shadow;
    color: $white;
    cursor: pointer;
    font-size: nth($font-sizes, 5);
    letter-spacing: 0.4px;

    &:hover {
      background-color: $button-hover;
    }

    &:disabled {
      box-shadow: none;
      background-color: $button-hover;
      opacity: 0.4;
    }
  }
}

@mixin benefit-block($class) {
  &-#{$class} {
    width: 46.5%;

    &-picture {
      width: 100%;
      border-radius: 3px;
      margin: 0 0 12px 0;
    }

    &-header {
      margin: 0 0 14px 0;
      font-size: nth($font-sizes, 5);
      font-weight: $font-medium;
      text-transform: uppercase;
    }

    &-text {
      margin: 0 0 28px 0;
      font-size: nth($font-sizes, 5);
      line-height: 23px;
      letter-spacing: 0.3px;
    }
  }
}

@mixin feature-item($img) {
  margin: 0 0 0 5px;
  position: relative;

  &-header {
    padding: 15px 0 0 0;
    height: 35px;
    font-size: nth($font-sizes, 5);
    font-weight: $font-medium;
    text-transform: uppercase;
    letter-spacing: -0.1px;
  }

  &-text {
    font-size: nth($font-sizes, 5);
    line-height: 27px;
    letter-spacing: 0.2px;
    margin: 0 0 32px 0;
  }

  &::before {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: -61px;
    top: 8px;
    background: $img;
  }
}

@mixin block-header-and-text() {
  &__header {
    height: 56px;
    margin: 0 auto;
    text-align: center;
    font-family: $lucida-grande;
    font-size: nth($font-sizes, 1);
  }

  &__text {
    width: 485px;
    margin: 0 auto;
    font-size: nth($font-sizes, 5);
    line-height: 27px;
    letter-spacing: 0.15px;
    text-align: center;
  }
}
