$primary-button: $black-4D4C49;
$primary-text: $black-4D4C49;
$secondary-button: $black-4D4949;
$secondary-text: $black-4D4949;
$hover-button: $black-393737;
$default-input: $black-DCDCDC;
$error-input: $red-F06786;
$white: $white;
$info-color: $black-818181;
$bg-under-header-img: $grey-243-243-243-055;
$dot-list-bg: $black-0-0-0-05;

//folders gradient
$folder-green-gradient-light: $green-230-246-65-05;
$folder-green-gradient: $green-41-252-154-05;
$folder-green-gradient-bg: $salmon-ffb0b0;

$folder-blue-gradient-light: $grey-247-247-247-05;
$folder-blue-gradient: $blue-35-86-255-05;
$folder-blue-gradient-bg: $blue-b0d1ff;

$folder-red-gradient-light: $grey-255-255-255-05;
$folder-red-gradient: $red-255-9-9-05;
$folder-red-gradient-bg: $salmon-ffb0b0;

// portfolio
$portfolio-shadow-block: $grey-109-109-109-05;

// arrow button shadow
$arrow-button-shadow: $grey-6d6d6d;

// quote background
$quote-bd: $grey-494a4d;

//shadow for write-us block
$shadow-wwrite-us: $grey-b7b7b7;

// background for next step
$next-step-bg: $grey-f8f8f8;

// line above footer
$line-above-footer: $grey-dddddd;

//copyright color
$copyright-color: $black-333333;

// blog page
$blog-feedback-bg: $beige-fcf6f6;

// post shadow gradient
$post-shadow-gradient: $grey-131-131-131-05;
