//primary button
$primary-button: $blue-4E92FF;
$primary-button-hover: $blue-447FDE;
$primary-button-active: $blue-3B6FC2;
//secondary button
$secondary-button: $orange-F89052;
$secondary-button-hover: $orange-DC7F47;
$secondary-button-active: $orange-BD6937;
//success button
$success-button: $green-60CF57;
$success-button-hover: $green-4ABA42;
$success-button-active: $green-3DA235;
//danger button
$danger-button: $red-F05B5B;
$danger-button-hover: $red-BF4141;
$danger-button-active: $red-AC2D2D;
//warning button
$warning-button: $yellow-FFCF31;
$warning-button-hover: $yellow-EEBD1C;
$warning-button-active: $yellow-D6A917;
//checkboxes
$checkbox-green: $green-52BE80;
$checkbox-orange: $orange-F89052;
$checkbox-blue: $blue-4E92FF;
$checkbox-red: $red-F05B5B;
$checkbox-black: $black-3C3B3B;
$checkbox-default: $grey-F2F2F2;
$checkbox-border: $grey-AEAEAE;
$checkbox-border-disabled: $grey-E6E6E6;
$checkbox-disabled: $grey-F9F9F9;
$checkbox-green-disabled: $green-82-190-128-059;
$checkbox-orange-disabled: $orange-246-167-120-059;
$checkbox-blue-disabled: $blue-78-146-255-059;
$checkbox-red-disabled: $red-240-91-91-059;
$checkbox-black-disabled: $black-60-59-59-059;
//pagination
$pagination-bg: $grey-F6F6F6;
$pagination-bg-hover: $grey-E0E0E0;
$pagination-text-color: $grey-5D5D5D;
$pagination-previous: $grey-DADADA;
$pagination-green-bg: $green-52BE80;
$pagination-blue-bg: $blue-4E92FF;
$pagination-orange-bg: $orange-F89052;
$pagination-red-bg: $red-F05B5B;
$pagination-black-bg: $black-3C3B3B;
//main block
$nav-text-under-header: $grey-ACA8A8;
$nav-grey-border: $grey-D8D8D8;
$light-background: $grey-FBFBFB;
$main-grey-text: $grey-5D5D5D;
// main navigation
$main-nav-hover-link: $green-52BE80;
//available items
$grey-border-shadow: $grey-206-206-206-05;
$grey-border-shadow-hover: $grey-78-78-78-05;
$grey-button-shadow: $grey-155-155-155-05;
