@import "variables1";
@import "color-matrix1";
@import "main";

.header {
  background-image: url("../img/Banner-img.png");

  &__nav-under-header {
    @include navigation-under-header($main-nav-hover-link);
  }

  &__nav-under-header-border {
    @include navigation-under-header-border($main-nav-hover-link);
  }
}

.main {
  .available {
    &__book-now {
      @include button-available($primary-button);
    }

    &__book-now:hover {
      background-color: $primary-button-hover;
    }

    &__book-now:active {
      background-color: $primary-button-active;
    }
  }

  .reviews {
    &__rate {
      color: $primary-button;
    }
  }
}

.pagination {
  &__button-page:checked + &__button {
    background-color: $primary-button;
    color: $white;
  }
}
