* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.header {
  height: 100px;
  background-color: #333;
  border-top: 5px solid rgb(17, 115, 226);
}

.header__nav-list {
  width: 460px;
  position: absolute;
  margin-left: 30%;
  display: none;
}

.header__hidden-burger:checked ~ .header__nav-list {
  animation: slide-block 1.2s ease-out;
  display: block;
}

.header__burger {
  width: 70px;
  height: 60px;
  cursor: pointer;
  position: relative;
  top: 20px;
  z-index: 2;
}

.header__hidden-burger:checked + .header__burger {
  top: 0;
}

@keyframes slide-block {
  0% {
    left: -100%;
  }

  30% {
    left: 20%;
  }

  60% {
    left: -10%;
  }

  80% {
    left: 10%;
  }

  100% {
    left: 0%;
  }
}

.header__burger-line {
  transition: 500ms;
  display: block;
  width: 70px;
  height: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgb(17, 115, 226);
  opacity: 1;
}

.header__hidden-burger:checked + .header__burger > .header__burger-line:nth-child(2) {
  width: 5px;
  height: 5px;
  transition: 500ms, ease-in-out;
  position: absolute;
  top: 40px;
  left: 25px;
  transform: rotate(-45deg);
  opacity: 0;
}

.header__hidden-burger:checked + .header__burger > .header__burger-line:first-child {
  transition: 500ms;
  position: absolute;
  top: 40px;
  transform: rotate(45deg);
}

.header__hidden-burger:checked + .header__burger > .header__burger-line:last-child {
  transition: 500ms;
  position: absolute;
  top: 40px;
  transform: rotate(-45deg);
}

.header__nav-item {
  display: inline-block;
  width: 150px;
}

.header__nav-link {
  color: #fff;
  font-size: 20px;
  line-height: 100px;
  text-decoration: none;
  cursor: pointer;
}

.header__nav-link:hover {
  color: rgb(17, 115, 226);
}

.main__checkbox {
  position: absolute;
  top: 300px;
  width: 500px;
  text-align: center;
  display: none;
}

.main__checkbox-header {
  margin: 30px 0;
}

.checkbox__custom-check {
  display: block;
  width: 100px;
  height: 20px;
  background-color: rgb(247, 245, 245);
  border: 1px solid rgb(138, 138, 138);
  box-shadow: 2px 2px 1px 1px inset rgb(54, 54, 54);
  position: relative;
  left: 40%;
  border-radius: 15px;
  cursor: pointer;
}

.checkbox__custom-check::after {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  left: 0;
  width: 35px;
  height: 35px;
  transition: left 0.4s ease-out;
  background-color: #fff;
  border: 1px solid rgb(145, 143, 143);
  box-shadow: 1px 1px 2px 2px inset rgb(211, 210, 210);
  border-radius: 50%;
}

.checkbox__hidden-check:disabled + .checkbox__custom-check {
  background-color: #d8d8d8;
}

.checkbox__hidden-check:checked + .checkbox__custom-check {
  background-color: #5b86d0;
}

.checkbox__hidden-check:disabled:checked + .checkbox__custom-check {
  background-color: #aec0e2;
}

.checkbox__hidden-check:checked + .checkbox__custom-check::after {
  left: 70px;
  transition: left 0.4s ease-out;
}

.main--hidden {
  display: none;
}

#checkbox:checked ~ .main__checkbox {
  color: green;
  animation: slide-block 1.2s ease-out;
  display: block;
}

.main__accordion {
  width: 500px;
  display: none;
  position: absolute;
  top: 300px;
  left: 0%;
  text-align: center;
}

.main__accordion-header {
  margin: 30px 0;
}

.accordion__custom-check {
  display: block;
  width: 70px;
  height: 30px;
  border: 1px solid #000;
  cursor: pointer;
}

.main__acc1,
.main__acc2,
.main__acc3,
.main__acc5,
.main__acc6 {
  width: 200px;
  height: 30px;
  background-color: #333;
  color: #fff;
  display: none;
  position: relative;
  left: 0;
}

.main__acc4 {
  width: 200px;
  height: 60px;
  background-color: #333;
  color: #fff;
  display: none;
  position: relative;
  left: 0;
}

#acc1:checked ~ .main__acc1,
#acc2:checked ~ .main__acc2,
#acc3:checked ~ .main__acc3,
#acc4:checked ~ .main__acc4,
#acc5:checked ~ .main__acc5,
#acc6:checked ~ .main__acc6 {
  animation: slide-block 1.2s ease-out;
  display: block;
}

#accordion:checked ~ .main__accordion {
  color: green;
  animation: slide-block 1.2s ease-out;
  display: block;
}

.main__dropdown {
  position: absolute;
  box-shadow: 5px 2px 5px #b8b5b5;
  overflow: hidden;
  height: 0;
  top: 100px;
}

.main__dropdown-item {
  display: block;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  width: 150px;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  background-color: #333;
  box-sizing: border-box;
  border-bottom: 1px solid #d8d8d8;
  cursor: pointer;
}

.main__dropdown-item:hover {
  background-color: #000;
  transition: 0.2s;
  font-size: 19px;
}

#dropDown:checked + .header__nav-link {
  color: rgb(17, 115, 226);
}

#dropDown:checked ~ .main__dropdown {
  border-top: 3px solid rgb(17, 115, 226);
  height: 120px;
  opacity: 1;
  transition: height 1s, opacity 1s, border-top 0.1s;
}
